/* Estilo do body para centralizar tudo */
body {
  background-color: #5585b5;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

header {
  text-align: center;
  margin-bottom: 0px;
}

/* Container principal da calculadora */
#container {
  width: 90%;
  max-width: 340px;
  background: #303134;
  padding: 20px;
  border-radius: 16px;
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo do display */
#display {
  width: 100%;
  height: 36px;
  padding: 10px;
  font-size: 2rem;
  text-align: right;
  border-radius: 12px;
  background-color: #3c4043;
  border: none;
  color: white;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15px;
}

/* Grid de botões */
.calculator-keys {
  display: flex;
  width: 100%;
}

.number-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  flex: 1;
}

/* Estilização dos botões */
button {
  width: 100%;
  height: 48px;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  background: #505357;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #686d71;
  transform: scale(1.05);
}

/* Botão de operadores */
.operator {
  background: #4285f4;
}

.operator:hover {
  background: #3367d6;
}

/* Botão de igual */
.equal-button {
  background: #f76e4b;
}

.equal-button:hover {
  background: #f76e4bd3;
}

.animated-title {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fadeIn 1.5s ease-in-out;
}

/* Animação do título */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsividade */
@media (max-width: 400px) {
  #container {
    max-width: 300px;
    padding: 15px;
  }

  #display {
    font-size: 1.8rem;
    width: 90%;
    height: 34px;
  }

  button {
    height: 50px;
    font-size: 1.2rem;
  }
}
