body {
  background-color: #5585b5;
  font-family: 'Inter', sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 68vh;
  margin: 0;
}
#titulo {
  text-align: center;
}

#container {
  width: 30rem;
  height: 19rem;
  max-width: 558px;
  background-color: #233142;
  padding: 20px;
  margin: 4;
  max-width: 350px;
  text-align: center;
  background: rgba(0,0,0,.6);
  border-radius: 0.5rem;
  backdrop-filter: blur(4px);
  box-shadow: 0px 15px 30px rgba(0,0,0,.75);
}

.calculator {
  text-align: center;
}

#display {
  width: 97%;
  padding: 4px;
  font-size: 24px;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #e7eaf6;
  border: 1px solid #a2a8d3;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}

button {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.clear-button {
  background-color: #ff5733; /* Adicione uma cor vermelha ao botão de limpar */
  color: #fff; /* Define a cor do texto como branco */
}

/* Defina uma classe comum para todos os botões com cor de texto branca */
.white-text-button {
  color: #fff;
}

.button-7,
.button-8,
.button-9,
.button-6,
.button-5,
.button-4,
.button-3,
.button-2,
.button-1,
.button-0,
.button-mult,
.button-igual,
.button-pont,
.button-div,
.button-mais,
.button-menos {
  /* Aplique a classe comum aqui */
  color: #ffffffc2;
}


.animated-title {
  font-size: 40px;
  color: #080808;
  animation: slideIn 2s ease-in-out forwards; /* Aplicar animação 'slideIn' por 2 segundos */
  opacity: 0; /* Comece com uma opacidade de 0 para esconder o título */
  margin-top: 20px;
  color: #ffffffc2;

  background-color: #233142;
  padding: 14px;
  text-align: center;
  background: rgba(0,0,0,.4);
  border-radius: 2rem;
  box-shadow: 0px 15px 30px rgba(0,0,0,.10);
}

@keyframes wormAnimation {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(50px) translateY(0);
  }
  50% {
    transform: translateX(50px) translateY(50px);
  }
  75% {
    transform: translateX(0) translateY(50px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%); /* Inicia da direita */
    opacity: 0; /* Começa invisível */
  }
  100% {
    transform: translateX(0); /* Termina na posição original */
    opacity: 1; /* Torna-se visível */
  }
}
  
